<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.infrastructure.datasource.user.UserMapper">

    <insert id="insert">
        INSERT INTO purchase.user(
          id,
          email_address,
          password
        ) VALUES (
          #{user.userIdentifier.value},
          #{user.emailAddress.value},
          #{user.password.value}
        )
    </insert>

    <resultMap id="User" type="com.example.domain.model.user.User">
        <id property="userIdentifier.value" column="id" />
        <result property="emailAddress.value" column="email_address"/>
        <result property="password.value" column="password"/>
    </resultMap>
    <select id="selectBy" resultMap="User">
        SELECT
          id,
          email_address,
          password
        FROM purchase.user
        WHERE email_address = #{emailAddress.value}
    </select>
</mapper>