<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ログイン</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <div class="d-flex align-items-center">
          <a class="navbar-brand" href="https://www.solxyz.co.jp/">
            <img
              src="http://localhost:8080/logo.svg"
              alt="solxyz-logo"
              class="h3"
            />
          </a>
          <h1 class="h3">購買管理</h1>
        </div>
      </div>
    </nav>
    <div class="container py-3 px-0">
      <div class="w-25 mx-auto">
        <form
          th:action="@{/home}"
          th:object="${loginRequest}"
          method="post"
          novalidate
        >
          <h1 class="h3">ログイン</h1>
          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="name@example.com"
              th:field="*{email}"
              required
            />
            <div class="invalid-feedback">Valid first name is required.</div>
            <label for="email" class="form-label" style="color: lightgray"
              >メールアドレス</label
            >
            <div id="emailErrorMessage" class="form-text" style="color: red" />
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              th:field="*{password}"
              required
            />
            <label for="password" class="form-label" style="color: lightgray"
              >パスワード</label
            >
            <div
              id="passwordErrorMessage"
              class="form-text"
              style="color: red"
            />
          </div>
          <div>
            <a th:href="@{/registration}" class="link-primary"
              >新規登録はこちら</a
            >
          </div>
          <button type="submit" class="btn btn-primary">ログイン</button>
        </form>
      </div>
      <div class="toast-container position-fixed p-3 bottom-0 end-0">
        <div
          class="toast text-white bg-danger border-0"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="d-flex align-items-stretch">
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="toast"
            ></button>
            <div id="submitErrorMessage" class="toast-body" />
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script th:inline="javascript">
      const validateEmail = () => {
        const email = document.getElementById("email");
        const emailErrorMessage = document.getElementById("emailErrorMessage");
        email.addEventListener("input", () => {
          if (email.validity.valid) {
            email.className = "form-control";
            emailErrorMessage.value = "";
          } else {
            email.className = "form-control is-invalid";
            emailErrorMessage.value = "入力内容に誤りがあります";
          }
        });
      };
      const validatePassword = () => {
        const password = document.getElementById("password");
        const passwordErrorMessage = document.getElementById(
          "passwordErrorMessage"
        );
        password.addEventListener("input", () => {
          if (password.validity.valid) {
            passwordErrorMessage.value = "";
          } else {
            passwordErrorMessage.value = "入力内容に誤りがあります";
          }
        });
      };
      const validateOnSubmit = (callback) => {
        const email = document.getElementById("email");
        const password = document.getElementById("password");
        const submitErrorMessage =
          document.getElementById("submitErrorMessage");
        const form = document.querySelector("form");
        form.addEventListener("submit", (event) => {
          if (email.validity.valid && password.validity.valid) {
            return;
          }
          submitErrorMessage.value = "入力内容に誤りがあります";
          callback();
          event.preventDefault();
        });
      };
      (() => {
        const toastElList = [].slice.call(document.querySelectorAll(".toast"));
        const toastList = toastElList.map((toastEl) => {
          return new bootstrap.Toast(toastEl, {
            delay: 5000,
            autohide: true,
          });
        });
        const callback = () => {
          toastList[0].show();
        };
        validateEmail();
        validatePassword();
        validateOnSubmit(callback);
      })();
    </script>
  </body>
</html>
